<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DeviceMapper">
    
    <resultMap type="Device" id="DeviceResult">
        <result property="id"    column="id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceIp"    column="device_ip"    />
        <result property="deviceType"    column="device_type"    />
        <result property="devicePort"    column="device_port"    />
        <result property="deviceArea"    column="device_area"    />
        <result property="projectName"    column="project_name"    />
        <result property="configJson"    column="config_json"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="modifyBy"    column="modify_by"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="yn"    column="yn"    />
    </resultMap>

    <sql id="selectDeviceVo">
        select id, device_name, device_ip, device_type, device_port, device_area, project_name, config_json, created_by, created_date, modify_by, modify_date, yn from sys_device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>  
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceIp != null  and deviceIp != ''"> and device_ip = #{deviceIp}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="devicePort != null  and devicePort != ''"> and device_port = #{devicePort}</if>
            <if test="deviceArea != null  and deviceArea != ''"> and device_area = #{deviceArea}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="configJson != null  and configJson != ''"> and config_json = #{configJson}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdDate != null "> and created_date = #{createdDate}</if>
            <if test="modifyBy != null  and modifyBy != ''"> and modify_by = #{modifyBy}</if>
            <if test="modifyDate != null "> and modify_date = #{modifyDate}</if>
            <if test="yn != null "> and yn = #{yn}</if>
        </where>
    </select>
    
    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true" keyProperty="id">
        insert into sys_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">device_name,</if>
            <if test="deviceIp != null">device_ip,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="devicePort != null">device_port,</if>
            <if test="deviceArea != null">device_area,</if>
            <if test="projectName != null">project_name,</if>
            <if test="configJson != null">config_json,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="modifyBy != null">modify_by,</if>
            <if test="modifyDate != null">modify_date,</if>
            <if test="yn != null">yn,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">#{deviceName},</if>
            <if test="deviceIp != null">#{deviceIp},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="devicePort != null">#{devicePort},</if>
            <if test="deviceArea != null">#{deviceArea},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="configJson != null">#{configJson},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="modifyBy != null">#{modifyBy},</if>
            <if test="modifyDate != null">#{modifyDate},</if>
            <if test="yn != null">#{yn},</if>
         </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update sys_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="deviceIp != null">device_ip = #{deviceIp},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="devicePort != null">device_port = #{devicePort},</if>
            <if test="deviceArea != null">device_area = #{deviceArea},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="configJson != null">config_json = #{configJson},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="modifyBy != null">modify_by = #{modifyBy},</if>
            <if test="modifyDate != null">modify_date = #{modifyDate},</if>
            <if test="yn != null">yn = #{yn},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        delete from sys_device where id = #{id}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="String">
        delete from sys_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>