<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.InspectionProjectMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.system.entity.InspectionProject">
        <!--@Table inspection_project-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="subjectCatalog" column="subject_catalog" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="formData" column="form_data" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, project_code, subject_catalog, dept_id, dept_name, user_id, user_name, remarks, form_data, create_time, update_time
        from inspection_project
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, project_code, subject_catalog, dept_id, dept_name, user_id, user_name, remarks, form_data, create_time, update_time
        from inspection_project
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectCode != null and projectCode != ''">
                and project_code = #{projectCode}
            </if>
            <if test="subjectCatalog != null and subjectCatalog != ''">
                and subject_catalog = #{subjectCatalog}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name = #{deptName}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
            <if test="formData != null and formData != ''">
                and form_data = #{formData}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from inspection_project
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectCode != null and projectCode != ''">
                and project_code = #{projectCode}
            </if>
            <if test="subjectCatalog != null and subjectCatalog != ''">
                and subject_catalog = #{subjectCatalog}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name = #{deptName}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="remarks != null and remarks != ''">
                and remarks = #{remarks}
            </if>
            <if test="formData != null and formData != ''">
                and form_data = #{formData}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into inspection_project(project_code, subject_catalog, dept_id, dept_name, user_id, user_name, remarks, form_data, create_time, update_time)
        values (#{projectCode}, #{subjectCatalog}, #{deptId}, #{deptName}, #{userId}, #{userName}, #{remarks}, #{formData}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into inspection_project(project_code, subject_catalog, dept_id, dept_name, user_id, user_name, remarks, form_data, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.projectCode}, #{entity.subjectCatalog}, #{entity.deptId}, #{entity.deptName}, #{entity.userId}, #{entity.userName}, #{entity.remarks}, #{entity.formData}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into inspection_project(project_code, subject_catalog, dept_id, dept_name, user_id, user_name, remarks, form_data, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.projectCode}, #{entity.subjectCatalog}, #{entity.deptId}, #{entity.deptName}, #{entity.userId}, #{entity.userName}, #{entity.remarks}, #{entity.formData}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        project_code = values(project_code),
        subject_catalog = values(subject_catalog),
        dept_id = values(dept_id),
        dept_name = values(dept_name),
        user_id = values(user_id),
        user_name = values(user_name),
        remarks = values(remarks),
        form_data = values(form_data),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update inspection_project
        <set>
            <if test="projectCode != null and projectCode != ''">
                project_code = #{projectCode},
            </if>
            <if test="subjectCatalog != null and subjectCatalog != ''">
                subject_catalog = #{subjectCatalog},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="deptName != null and deptName != ''">
                dept_name = #{deptName},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="formData != null and formData != ''">
                form_data = #{formData},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from inspection_project where id = #{id}
    </delete>

</mapper>

