<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PreventionUnitMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.system.entity.PreventionUnit">
        <!--@Table prevention_unit-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
        <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
        <result property="radius" column="radius" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, unit_name, device_id, device_name, dept_id, dept_name, user_id, user_name, longitude, latitude, radius, state, create_time, update_time
        from prevention_unit
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, unit_name, device_id, device_name, dept_id, dept_name, user_id, user_name, longitude, latitude, radius, state, create_time, update_time
        from prevention_unit
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="unitName != null and unitName != ''">
                and unit_name = #{unitName}
            </if>
            <if test="deviceId != null">
                and device_id = #{deviceId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name = #{deviceName}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name = #{deptName}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="longitude != null and longitude != ''">
                and longitude = #{longitude}
            </if>
            <if test="latitude != null and latitude != ''">
                and latitude = #{latitude}
            </if>
            <if test="radius != null and radius != ''">
                and radius = #{radius}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from prevention_unit
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="unitName != null and unitName != ''">
                and unit_name = #{unitName}
            </if>
            <if test="deviceId != null">
                and device_id = #{deviceId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name = #{deviceName}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name = #{deptName}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="longitude != null and longitude != ''">
                and longitude = #{longitude}
            </if>
            <if test="latitude != null and latitude != ''">
                and latitude = #{latitude}
            </if>
            <if test="radius != null and radius != ''">
                and radius = #{radius}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into prevention_unit(unit_name, device_id, device_name, dept_id, dept_name, user_id, user_name, longitude, latitude, radius, state, create_time, update_time)
        values (#{unitName}, #{deviceId}, #{deviceName}, #{deptId}, #{deptName}, #{userId}, #{userName}, #{longitude}, #{latitude}, #{radius}, #{state}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into prevention_unit(unit_name, device_id, device_name, dept_id, dept_name, user_id, user_name, longitude, latitude, radius, state, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.unitName}, #{entity.deviceId}, #{entity.deviceName}, #{entity.deptId}, #{entity.deptName}, #{entity.userId}, #{entity.userName}, #{entity.longitude}, #{entity.latitude}, #{entity.radius}, #{entity.state}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into prevention_unit(unit_name, device_id, device_name, dept_id, dept_name, user_id, user_name, longitude, latitude, radius, state, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.unitName}, #{entity.deviceId}, #{entity.deviceName}, #{entity.deptId}, #{entity.deptName}, #{entity.userId}, #{entity.userName}, #{entity.longitude}, #{entity.latitude}, #{entity.radius}, #{entity.state}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        unit_name = values(unit_name),
        device_id = values(device_id),
        device_name = values(device_name),
        dept_id = values(dept_id),
        dept_name = values(dept_name),
        user_id = values(user_id),
        user_name = values(user_name),
        longitude = values(longitude),
        latitude = values(latitude),
        radius = values(radius),
        state = values(state),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update prevention_unit
        <set>
            <if test="unitName != null and unitName != ''">
                unit_name = #{unitName},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId},
            </if>
            <if test="deviceName != null and deviceName != ''">
                device_name = #{deviceName},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="deptName != null and deptName != ''">
                dept_name = #{deptName},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="longitude != null and longitude != ''">
                longitude = #{longitude},
            </if>
            <if test="latitude != null and latitude != ''">
                latitude = #{latitude},
            </if>
            <if test="radius != null and radius != ''">
                radius = #{radius},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from prevention_unit where id = #{id}
    </delete>

</mapper>

